

<div class="sidebar">
    <div class="menu list-group list-group-flush">
        <AuthorizeView>
            <Authorized>
                <NavLink class="list-group-item list-group-item-action" href="/" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
                <NavLink class="list-group-item list-group-item-action" href="/inspectionoverview">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Inspections
                </NavLink>
                <NavLink class="list-group-item list-group-item-action" href="/departmentoverview">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Departments
                </NavLink>
                <NavLink class="list-group-item list-group-item-action" href="/adddepartment">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Add department
                </NavLink>
                <NavLink class="list-group-item list-group-item-action" href="/invoices">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Invoices
                </NavLink>
            </Authorized>
        </AuthorizeView>
    </div>
</div>
