@page "/"

<h1 class="page-title">Welcome to the Inspection Statistics System!</h1>
<br />
<h4>By using this application, you will be able to register or log in as a registered user
     and be able to acess all functionalities of Inspection statistics.
</h4>

<br />

<AuthorizeView>
    <Authorized>
        <button @onclick="Logout">Logout</button>
    </Authorized>
    <NotAuthorized>
        <button @onclick="NavigateToLogin">Click here to log in</button>
        <br />
        <button @onclick="NavigateToRegister">Click here to register</button>
    </NotAuthorized>
</AuthorizeView>